text.rv-xy-plot__axis__tick__text
{
    font-size: 10px;
}

.single-client-data-circular-progress {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}

.single-client-data-legend {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.rv-discrete-color-legend-item.horizontal {
    display: flex !important;
    align-items: center;
    margin: 5px;
}

.rv-discrete-color-legend-item__title {
    margin-left: 2px !important;
}

.single-client-data-hint {
    border:1px solid black;
    padding: 5px;
    text-align: center;
    z-index: 10;
}

.single-client-data-hint h4, .single-client-data-hint p {
    margin: 0;
}

button[aria-pressed="true"]
{
    font-weight: bold;
}

.symptomToggles.Other
{
    background-color: #9c9c9c59 !important;
}
.symptomToggles.Other[aria-pressed="true"]
{
    background-color: #9c9c9c !important;
}

.Intrusion
{
    /* color: #6ED2EC !important; */
    background-color: #6ED2EC75 !important;
}
.Intrusion[aria-pressed="true"]
{
    background-color: #6ED2ECed !important;
}

.Avoidance
{
    /* color: #2D68DB !important; */
    background-color: #2D68DB75 !important;
}
.Avoidance[aria-pressed="true"]
{ 
    background-color: #2D68DBc9 !important;
}

.NegativeFeelings
{
    /* color: #B777FF !important; */
    background-color:#b777ff75 !important;
}
.NegativeFeelings[aria-pressed="true"]
{
    background-color:#b777ffc9 !important;
}

.Hyperarousal
{
    /* color: #F976FE !important; */
    background-color: #F976FE75 !important;
}
.Hyperarousal[aria-pressed="true"]
{
    background-color: #F976FEc9 !important;
}

button.symptomToggles
{
    color: black !important;
}

.pcl5graph .rv-xy-plot__axis__tick:last-child .rv-xy-plot__axis__tick__text {
    transform: translate(-15px,14px);
}