text.rv-xy-plot__axis__tick__text
{
    font-size: 10px;
}

.single-client-data-circular-progress {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}