text.rv-xy-plot__axis__tick__text
{
    font-size: 10px;
}

.single-client-data-circular-progress {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}

.single-client-data-legend {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.rv-discrete-color-legend-item.horizontal {
    display: flex !important;
    align-items: center;
    margin: 5px;
}

.rv-discrete-color-legend-item__title {
    margin-left: 2px !important;
}

.single-client-data-hint {
    border:1px solid black;
    padding: 5px;
    text-align: center;
    z-index: 10;
}

.single-client-data-hint h4, .single-client-data-hint p {
    margin: 0;
}
