.individualRow
{
    border: 2px black solid;
    min-width: 80%;
    box-shadow: 2px 2px lightgrey
}

.name
{
    margin-block-end: 0;
}

.email, .percentChange
{
    margin-block-start: 0;
}

.percentChange
{
    color: gray;
    margin-block-end: 10px;
}

.verticalCenter
{
    margin: auto !important;
}

.MuiGrid-container
{
    align-items: center;
    align-content: space-around;
}

.outer-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}