.patientList
{
    list-style-type: none;
}

.patientListBorder
{
    border: 1px solid black;
    padding: 6%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
}

.addNewPatient
{
    margin:0 auto;
    display: flex;
    width: 50%;
    height: 25px;
    text-align: center;
    justify-content: center;
}

hr
{
    display: block;
    height: 0px;
    border: 0;
    border-top: 3px solid black;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0%;
}

.profile-body
{
    display:flex;
    flex-direction: row;
}

.profile-body > div {
    margin: 100px;
  }

.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    vertical-align: middle;
    margin-left: auto; /* Strictly for positioning */
}
  
.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
  
.menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
}
  
.menu-trigger img {
    border-radius: 90px;
}
  
.menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
  
.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu li {
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
}
  
